html {
	background-image: url("https://edge.alluremedia.com.au/m/l/2015/06/CodingSnippet.jpg");
}

/* body{
    background-image: url("https://edge.alluremedia.com.au/m/l/2015/06/CodingSnippet.jpg");
} */
#navbar {
	background-image: url("https://edge.alluremedia.com.au/m/l/2015/06/CodingSnippet.jpg");
}

.tabs {
	background-color: black;
	opacity: 70%;
	position: relative;
	animation: flip 2s;
	background-image: url("https://edge.alluremedia.com.au/m/l/2015/06/CodingSnippet.jpg");
}
@keyframes flip {
	0% {
		top: 200px;
	}
	100% {
		top: 0px;
	}
	from {
		background-color: white;
	}
	to {
		background-image: url("https://edge.alluremedia.com.au/m/l/2015/06/CodingSnippet.jpg");
	}
}
#top-tab {
	font-size: 25px;
	background-color: black;
}
#home {
	color: #b125dc;
	font-size: 25px;
	background-color: black;
}
#bio {
	color: rgb(250, 234, 4);
	font-size: 25px;
	background-color: black;
}
#work {
	color: #2598dc;
	font-size: 25px;
	background-color: black;
}
#education {
	color: #dc2525;
	font-size: 25px;
	background-color: black;
}
#projects {
	color: #4adc25;
	font-size: 25px;
	background-color: black;
}

#info-box {
	outline: 1px solid black;
	height: 70px;
	color: rgb(250, 234, 4);
	font-size: 10px;
	background-color: black;
}

#bio-pic {
	height: 65px;
	width: 65px;
	z-index: -1;
}
#brand {
	/* background-image: url("https://edge.alluremedia.com.au/m/l/2015/06/CodingSnippet.jpg"); */
	background-color: black;
	color: #fa0404;
	font-size: 24px;
}

#message-header {
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	background-color: black;
	opacity: 85%;
	/* outline: 2px solid white;
	border: 4px; */
}

#message-body {
	color: white;
	background-color: black;
	opacity: 85%;
	outline: 1px solid white;
	border: 4px;
}
#message-content {
	color: white;
}

/* #proj-box {
	outline: 2px solid white;
	border: 4px;
} */
