html{
    background-image:url("https://edge.alluremedia.com.au/m/l/2015/06/CodingSnippet.jpg") ;
}

/* body{
    background-image: url("https://edge.alluremedia.com.au/m/l/2015/06/CodingSnippet.jpg");
} */
#navbar{
    background-color: #468be0;
}

.tabs {
    background-color: #3879b1;
}
#top-tab{
    color: white;
    font-size: 25px;
 }

 #info-box {
     outline: blanchedalmond, 4px;
     height: 65px;
     float: right;
     color: darkgoldenrod;
 }

 #bio-pic{
    
     height: 200px;
     width: 200px;
 }
